<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img
        class="slide-bg-image"
        src="https://image.tmdb.org/t/p/original/wcKFYIiVDvRURrzglV9kGu7fpfY.jpg"
        alt=""
      />
    </div>
    <div class="slide-pane">
      <h2 class="name">Doctor Strange in the Multiverse of Madness</h2>
      <div class="meta">
        <div class="info">
          <span class="rating">
            <span>star</span><span class="rating-value">7.5</span
            ><span>/10</span>
          </span>
          <span>463 reviews</span>
          <span>2021</span>
        </div>
      </div>
      <div class="desc mt-6">
        Doctor Strange, with the help of mystical allies both old and new,
        traverses the mind-bending and dangerous alternate realities of the
        Multiverse to confront a mysterious new adversary
      </div>
    </div>
  </div>
</div>
