.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35rem;
  position: relative;
  .slide {
    position: relative;
    display: flex;
    &-bg {
      &-image {
      }
    }
    &-pane {
    }
  }
}
